body {
    background-color: #070A4E !important;
    color: #ffff;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100%;
    transform: scale(0.9);
    transform-origin: top left;
}


.navbar {
    height: auto;
    margin-top: 0;
    background-color: #070A4E !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 2%;
    background-color: #070A4E !important;
    display: flex;
    justify-content: space-between;
    padding: 0;
}


.navbar-nav .nav-link {

    color: white !important;
}

.navbar-brand {
    margin-right: 250px !important;
}

.btn-custom {
    margin-left: 50px !important;
    border-radius: 15px !important;
}

.btn-outline-success {
    color: white !important;
    border-color: #ffff !important;
}

.btn-outline-success:hover {
    background-color: white !important;
    color: #070A4E !important;
}

main {
    color: #ffff;

}

h1 {
    margin-top: 0;

    height: 10%;
    bottom: 0;
}

.subtitulo {
    margin: 30px 0 0;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
}


p {
    font-size: 15px;
    line-height: 1.2;
    max-width: 80%;
}

.redessociais {

    right: 0;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    margin-right: 20px;

    align-items: flex-start;

}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: space-between;

}

.container {
    margin-left: 70%;

}



.nutritional-info {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: top;
    justify-content: space-between;
}

.nutritional-info img {

    max-width: 10px;
    height: 20%;
    display: flex;
    gap: 180px;

}

.pepsi-images {
    position: relative;
    width: 300px;
    height: 350px;
}

.pepsi-images img {
    position: absolute;
}

.pepsi1 {
    width: 300px;
    bottom: 0;
    left: -30%;

}

.pepsi2 {
    width: 120px;
    bottom: 70px;
    right: 80%;
}

.infnutri {
    width: 50%;
}

.ml {
    position: fixed;
    top: 410px;
    right: -11%;

    display: flex;
    align-items: flex-end;
    align-content: end;
    width: 10%;
}

@media screen and (max-width: 480px) {
    @media screen and (max-width: 480px) {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            /* Permite que os itens "quebrem" para a próxima linha */
            margin: 0 auto;
            gap: 10px;
        }

        .container img {
            width: calc(40% - 10px);
            /* Ajusta as imagens do container para 40% da largura */
        }

        .pepsi-images {
            display: flex;
            justify-content: center;
            /* Centraliza horizontalmente */
            align-items: center;
            position: absolute;
            /* Posiciona as imagens de forma absoluta */
            bottom: 2%;
            /* Coloca as imagens no final da página */

            right: 0;
            margin: 0 auto;
            gap: 10px;
        }

        .pepsi-images img {
            display: flex;
            /* Mantém a proporção */
        }

        .pepsi1 {
            width: 100px;
            bottom: 15%;
            left: 70%;

        }

        .pepsi2 {
            width: 40px;
            bottom: 70px;
            right: 15%;
        }

        p {
            text-align: center;
        }

        .ml {
            position: fixed;
            top: 795px;
            right: 1%;

            display: flex;
            align-items: flex-end;
            align-content: end;
            width: 10%;

        }

    }
}